* {
  margin: 0px;
  padding: 0px;
}
body {
  color: #19242D;
  font-size: 1.063em;
  font-family: Calibri,Arial,Helvetica,sans-serif;
  line-height: 1.4;
}
a {
  color:rgb(218, 22, 22);
  text-decoration: none;
  
}

nav a:hover {
  color: black;
  transition:0.3s linear ;
  border-bottom: 3px black solid;

}

li {
  list-style-type: none;
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  
  border-left: 3px rgb(204, 192, 192) solid;
  border-right: 3px rgb(204, 192, 192) solid;
  
  
  
  
}